/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Raleway:600|Roboto+Condensed');

.raleway {
  font-family: 'Raleway', sans-serif;
}
.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.bold {
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

nav {
  color: #fff;
}

.nav-link {
  font-size: 16px;

}

.fas {
  color: white;
}

.main {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  height: auto;
}

.main-list {
  font-size: 20px;
  list-style: none;
  background-color: #eee;
  border-radius: 4px;
  display: inline-block;
}


.jumbotron  {
  margin: 0px;
}

btn .btn-primary .get-ride {
  font-size: 30px;
  padding: 20px;
}
